/*
Color Theme Swatches in Hex
.In-the-Karwendel-Mountains-1-hex { color: #283040; }
.In-the-Karwendel-Mountains-2-hex { color: #3C5E73; }
.In-the-Karwendel-Mountains-3-hex { color: #7C9EA6; }
.In-the-Karwendel-Mountains-4-hex { color: #D9BEA7; }
.In-the-Karwendel-Mountains-5-hex { color: #F2DCC9; }
*/

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Nunito";
}

.header {
  min-height: 50px;
  padding: 0 100px;
  background-color: #3c5e73;
  color: #f2dcc9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header a {
  color: #f2dcc9;
  text-decoration: none;
}

.header a:hover {
  color: #d9bea7;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav a:hover {
  color: #d9bea7;
}

.nav a {
  color: #f2dcc9;
  text-decoration: none;
}

.nav li {
  font-weight: bold;
  margin-left: 20px;
}

.div-one {
  background-color: #283040;
  color: #fff;
  padding: 60px 45px;
  display: flex;
  justify-content: center;
}

.div-one h1 {
  font-weight: normal;
  font-size: 4rem;
  margin: 0;
}

.div-one p {
  font-size: 1.18rem;
  line-height: 1.6;
}

.div-one-inner {
  max-width: 600px;
}

.bottom {
  font-weight: bold;
  color: #283040;
  text-decoration: none;
  background-color: #7c9ea6;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1.18rem;
  display: inline-block;
}

.bottom:hover {
  color: #fff;
  background-color: #3c5e73;
}

.features {
  font-weight: bold;
  color: #283040;
  background-color: rgb(255, 255, 255);
  padding: 0 45px 50px;
}
.features a {
text-decoration: none;
}

.features-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 45px;
  grid-row-gap: 45px;
}

.feature-item {
  background-color: #7c9ea6;
  border-radius: 12px;
  box-shadow: 0px 2px 3px #283040;
  transition: 0.2s all;
}

.features-inner:hover .feature-item {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
}
.features-inner:hover .feature-item:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}

.feature-item h2 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
}

.feature-item p {
  padding: 10px 20px;
  color: #fff;
  margin: 0;
  line-height: 1.6;
  text-align: justify;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; 
}

.app-slideshow {
  flex: 1;
  background-color: #d9bea7;
  position: relative;
}

.slide {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: red;
}

.footer {
  color: #f2dcc9;
  width: 100%;
  height: auto;
  bottom: 0;
  text-align: center;
  font-size: 1.2rem;
  background-color: #3c5e73;
}

/* THIS SECTION IS FOR THE BUZZ OUT ON HOVER ANIMATION - DO NOT TOUCH */
@-webkit-keyframes buzz-out-on-hover {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes buzz-out-on-hover {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.buzz-out-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.buzz-out-on-hover:hover,
.buzz-out-on-hover:focus,
.buzz-out-on-hover:active {
  -webkit-animation-name: buzz-out-on-hover;
  animation-name: buzz-out-on-hover;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
