:root {
  --color-01-chinese-black: #121212;
  --color-02-davys-grey: #525252;
  --color-03-taupe-gray: #898787;
  --color-04-cultured: #f5f5f5;
  --color-05-fire-opal: #f05454;
  --color-06-carnelian: #ae1515;
  --color-07-slate-gray: #687c90;
  --color-08-charcoal: #30475e;
  --color-09-maastricht-blue: #0d2338;
  --color-10-sandy-brown: #f09b54;
  --color-11-light-brown: #ae5a15;
  --color-12-american-green: #43c043;
  --color-13-verse-green: #118b11;
  --color-14-celadon-green: #329090;
  --color-15-skobeloff: #0c6969;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --fs-h1: 42px;
  --fs-h2: 54px;
  --fs-h3: 30px;
  --fs-h4: 20px;
  --fs-p: 16px;
  --fs-navbar: 14px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito";
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  color: var(--color-01-chinese-black);
  background-color: var(--color-04-cultured);
}

body {
  width: auto;
  height: auto;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container {
  box-sizing: border-box;
  overflow: hidden;
}

.navbar {
  background-color: var(--color-04-cultured);
  width: 100%;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 100;
}

.logo {
  width: 50px;
  display: inline-block;
  cursor: pointer;
  margin: 20px 0;
}

.logo a {
  outline: none;
  display: block;
}

.logo img {
  vertical-align: middle;
}

.menu-icon {
  width: 25px;
  cursor: pointer;
  display: inline-block;
}

.menu-icon img {
  vertical-align: middle;
}

nav {
  display: flex;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  display: block;
  position: relative;
  color: var(--color-01-chinese-black);
  font-weight: bold;
  font-size: var(--fs-navbar);
}

nav ul li a:hover {
  color: var(--color-05-fire-opal);
}

.main-body {
  padding: 16px;
  margin-top: 30px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 0;
}

.col-1 {
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}

.col-1 h2 {
  font-size: var(--fs-h2);
}

.col-1 h3 {
  font-size: var(--fs-h3);
  color: var(--color-02-davys-grey);
  font-weight: 100;
  margin: 20px 0 10px;
}

.col-1 h4 {
  font-size: var(--fs-h4);
  font-weight: 100;
  margin: 30px 0;
}

.col-1 p {
  font-size: var(--fs-p);
  font-weight: 100;
  color: var(--color-03-taupe-gray);
}

button {
  width: 140px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: var(--color-04-cultured);
  background: linear-gradient(
    to right,
    var(--color-05-fire-opal),
    var(--color-06-carnelian)
  );
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.5s;
}

button img {
  filter: invert(0);
  width: 30px;
  display: none;
}

button:hover img {
  display: block;
}

button:hover {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-1::after {
  content: "";
  width: 10px;
  height: 57%;
  background: linear-gradient(
    var(--color-05-fire-opal),
    var(--color-06-carnelian)
  );
  position: absolute;
  left: -40px;
  top: 8px;
}

.div-one {
  background-color: var(--color-08-charcoal);
  color: var(--color-04-cultured);
  padding: 60px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div-one h1 {
  text-align: left;
  font-weight: normal;
  font-size: 4rem;
}

.div-one p {
  font-size: 1.18rem;
  line-height: 1.6;
}

.div-one-inner {
  flex-wrap: wrap;
}

.api {
  display: flex;
  flex-direction: column;
}

.api select {
  font-size: 1rem;
}

.api-slideshow {
  align-items: center;
  justify-content: center;
  background-color: var(--color-bunting);
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--color-bunting);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  opacity: 0;
  transform: scale(1);
  transition: all 0.9s ease-out;
}

.slide:nth-last-child(2) {
  opacity: 1;
  transform: scale(1.08);
}

.features {
  font-weight: bold;
  color: var(--color-04-cultured);
  background-color: var(--color-05-fire-opal);
  padding: 0 45px 50px;
  overflow: hidden;
  box-sizing: border-box;
}

.features h1 {
  font-size: var(--fs-h1);
  padding-top: 10px;
  padding-bottom: 20px;
}

.features a {
  text-decoration: none;
}

.features-inner {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 45px;
  grid-row-gap: 45px;
}

.feature-item {
  background-color: var(--color-05-fire-opal);
  border-radius: 12px;
  box-shadow: 0px 2px 3px var(--color-06-carnelian);
  transition: 0.2s all;
}

.features-inner:hover .feature-item {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
}
.features-inner:hover .feature-item:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}

.feature-item h2 {
  color: #fff;
  padding-top: 15px;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
}

.feature-item p {
  padding: 10px 20px;
  color: #fff;
  line-height: 1.6;
  text-align: justify;
}

.calculator-box {
  background-color: var(--color-ziggurat);
  text-align: center;
  margin-bottom: 15px;
}

.calculatorGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.calculatorGrid > div {
  border-top: 1px;
  border-right: 1px;
}

.buttonC {
  font-weight: bold;
  color: var(--color-bunting);
  text-decoration: none;
  background-color: var(--color-ziggurat);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  font-size: 17px;
  cursor: pointer;
}

.buttonC:hover {
  color: #fff;
  background-color: var(--color-blumine);
}

.footer {
  color: var(--color-almond);
  width: 100%;
  height: auto;
  bottom: 0;
  padding: 10px 0px;
  text-align: center;
  font-size: 1.2rem;
  background-color: var(--color-blumine);
}
