body {
  margin: 0;
  font-family: "Nunito";
}

.align-text-center{
  text-align: center;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav a:hover {
  color: #101f27;
}

.nav a {
  color: #000000;
  text-decoration: none;
}

.nav li {
  font-weight: bold;
  margin-left: 20px;
}

.header {
  padding: 0 100px;
  background-color: #fbc02d;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hero {
  background-color: #37464f;
  color: #fff;
  padding: 60px 45px;
  display: flex;
  justify-content: center;
}

.hero h1 {
  font-weight: normal;
  font-size: 4rem;
  margin: 0;
}

.hero p {
  font-size: 1.18rem;
  line-height: 1.6;
}

.hero-inner {
  max-width: 600px;
}

.building {
  background-color: #37464f;
  color: #fff;
  padding: 60px 45px;
  display: flex;
  justify-content: center;
}

.building h1 {
  font-weight: normal;
  font-size: 4rem;
  margin: 0;
}

.building p {
  font-size: 1.18rem;
  line-height: 1.6;
}

.building-inner {
  max-width: 600px;
}

/* .white-space{
  background-color: #FFF;
  padding: 60px 45px;
  display: flex;
} */

.features {
  background-color: #fff;
  padding: 50px 45px;
}

.features-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 45px;
  grid-row-gap: 45px;
}

.feature-item h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

.feature-item p {
  margin: 0;
  line-height: 1.6;
}
.footer {
  text-align: center;
  padding: 20px 0;
  font-size: 0.9rem;
  background-color: #fbc02d;
}
.bottom {
  font-weight: bold;
  color: #101f27;
  text-decoration: none;
  background-color: #fff263;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1.18rem;
  display: inline-block;
}

.bottom-type-1:hover {
  color: #101f27;
}

/* THIS SECTION IS FOR THE BUZZ OUT ON HOVER ANIMATION - DO NOT TOUCH */
@-webkit-keyframes buzz-out-on-hover {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes buzz-out-on-hover {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.buzz-out-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.buzz-out-on-hover:hover,
.buzz-out-on-hover:focus,
.buzz-out-on-hover:active {
  -webkit-animation-name: buzz-out-on-hover;
  animation-name: buzz-out-on-hover;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}